body{
    font-family: 'Roboto', sans-serif;
    background: #353434;  /* fallback for old browsers */
    background-color: #171717;
    background-image: url(https://codeplusplus.acmvit.in/static/media/grid.a8e9cc9ddce1bada2875.svg);

}


h1{
    background:#3b3f42;
    color:white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
}
ul{
    list-style:none;
    margin: 0;
    padding: 0;
}

.fa-plus{
  float: right;  
}

li{
    background: white;
    height: 50px;
    line-height:40px;
    color:#666;
}

li:nth-child(2n){
    background: rgb(233, 233, 233);
}

span{
    /* background:#e74c3c; */
    height:40px ;
    margin-right: 20px;
    text-align: center;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
	opacity: 0;
}

li:hover span{
width: 40px;
opacity: 1.0;
}

input{
    font-size: 18px;
    background: #f7f7f7;
    width: 100%;
    padding:13px 13px 13px  20px;
    color: #2980b9;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}
input:focus{
    background:white;
    border: 3px solid #2980b9;
    outline:none ;
    
}

#container{
   
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgb(0,0,0.1);
}

.compeleted{
    color:gray;
    text-decoration : line-through;
}