* {

    font: bold italic 14px Arial, sans-serif;
    
    
}
body{
    background-color: plum;
}
#calculator{

    width: 325px;
    height: auto;

    margin: 100px auto;
    padding: 20px 20px 9px;

    background: #9dd2ea;
    border-radius: 3px;
    box-shadow: 0px 4px #009de4, 0px 10px 15px rgba(0, 0, 0, 0.2);
}

button{

    width: 66px;
    height: 36px;

    background: white;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);

    margin: 0 7px 11px 0;

    color: #888;
    line-height: 36px;
    text-align: center;

}
button.operator
{
    background: #FFF0F5;
    margin-right: 0;
}
button.reset{
    width: 100px;
    height: 36px;

    background: #ff9fa8;
    box-shadow: 0px 4px #ff7c87;
    color: grey;

}
button.eval{
    width: 100px;
    height: 36px;

    background: #f1ff92;
    box-shadow: 0px 4px #9da853;
    color: #888e5f;
}
input{
    height: 40px;
    width: 262px;
    margin: 5px;

    padding: 0 10px;

    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);

    font-size: 17px;
    line-height: 40px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-align: right;
    letter-spacing: 1px
}

button:hover {
    background: #9c89f6;
    box-shadow: 0px 4px #6b54d3;
    color: white;
}

button.eval:hover {
    background: #abb850;
    box-shadow: 0px 4px #717a33;
    color: #ffffff;
}

button.reset:hover {
    background: #f68991;
    box-shadow: 0px 4px #d3545d;
    color: white;
}

button:active {
    box-shadow: 0px 0px #6b54d3;
    top: 4px;
}

button.eval:active {
    box-shadow: 0px 0px #717a33;
    top: 4px;
}

button.reset:active {
    top: 4px;
    box-shadow: 0px 0px #d3545d;
}
